.cardpic {
	display: block;
	position: relative;
	height: 300px;
	width: 100%;
	background-image: url(images/background.jpg);
	background-size: 100% 100%;
	background-position: all;
	background-repeat: no-repeat;
	border-radius: 20px;
	box-shadow: 10px 10px 10px 0px #8e583d;

}

.qc {
	display: flex;
	position: absolute;
	padding: 350px 1000px;
	width: auto;
	height: 40px;
	color: green;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;

}

.qc1 .qc2 {
	position: absolute;
}

.qc1:hover {
 	transform: rotate(30deg);
}


h1 {
	position: absolute;
	font-family: 'PT Serif', serif;
	color: white;
	font-size: 80px;
	text-shadow: black 5px 0 10px;
	text-align: center;
	width: 100%;
}

.hinh {
	position: absolute;
	margin: 310px 0px;
	border: 10px solid transparent;
  	padding: 15px;
  	border-image: url(images/nen.jpg) 20% round;
}

.hinh1 {
	position: absolute;
	margin: 970px 0px;
	border: 10px solid transparent;
  	padding: 15px;
  	border-image: url(images/ngan.jpg) 30% round;
}

.face {
	background-color: #245333; 
  	border: none;
	display: inline-block;
	position: relative;
	color: white;
	box-shadow: white 3px 2px 5px;

}

.face:hover {
  	background-color: #245333; 
  	border: none;
	display: inline-block;
	position: relative;
	color: white;
	box-shadow: white 3px 2px 5px;
	font-size: 20px;
}
h2 {
	font-family: 'Domine', serif;
	text-align: left;
	padding: 50px 0px 10px 500px;
	font-size: 40px;
	color: #50abb5;
	text-shadow: #f2e0f6 10px 10px 10px;
	text-decoration-line: underline;
	text-decoration-style: solid;
}

.hk {
	position: absolute;
	padding: 70px 1400px;
	opacity: 0.25;
}

.hk:hover {
	margin-left: -400px;
	opacity: 1;
	transform: scale(1.25);
}

body {
	color:black;
	background-color:white;
	background-image:url(images/background2.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%,
	height: auto;

}

h3 {
	font-family: 'Domine', serif;
	text-align: left;
	padding: 0px 0px 20px 500px;
	font-size: 30px;
	color: black;
	text-shadow: #f2e0f6 10px 10px 10px;
	text-decoration-line: underline overline;	
}

h4 {
	font-family: 'Domine', serif;
	text-align: left;
	padding: 0px 0px 20px 500px;
	font-size: 25px;
	color: black;
	text-shadow: #f2e0f6 10px 10px 10px;
}

h5 {
	font-family: 'Domine', serif;
	text-align: left;
	padding: 0px 0px 20px 500px;
	font-size: 20px;
	color: black;
	text-shadow: #f2e0f6 10px 10px 10px;

}

p {
	font-family: 'Domine', serif;
	text-align: left;
	padding: 0px 0px 20px 500px;
	font-size: 15px;
	color: black;
	text-shadow: #f2e0f6 10px 10px 10px;

}

.gemini {
	display: flex;
	position: absolute;
	padding: 90px 1000px;
	width: auto;
	height: 40px;
	color: green;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;

}


.p1 .p2 .p3 .p4 {
	position: absolute;
}

.p2:hover {
	zoom: 1.5;
}

.p3:hover {
	transform: rotate(180deg);
}